{% extends 'bs3/base.html' %}
{% block title %}Услуга {{ service }}{% endblock %}
{% block content %}
    {% load hostel_filters %}

    <div class="container">
        {% include 'bs3/common/broadcrumbs_service.html' %}
        <!-- Заголовок, кнопка редактирования -->
        <div class="row" style="margin-bottom: 16px;">
            <div class="col-md-8">
                <h4>
                    <div class="color-marker color-service"></div>
                    {{ service }}
                </h4>
            </div>
            <div class="col-md-4 text-right">
                {% if perms.common.change_service %}
                    <a class="btn btn-primary" href="{% url 'services' %}{{ service.pk }}/update/">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Редактировать
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {% include 'bs3/services/service_data.html' %}

                {% include 'bs3/services/application_block.html' %}

                {% with service as object %}
                    {% include 'bs3/common/created_updated.html' %}
                {% endwith %}
            </div>
            <div class="col-md-8">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li {% if tab == 'params' %}class="active"{% endif %}>
                        <a href="{% url 'service' service.pk %}?tab=params">Параметры</a>
                    </li>

                    {% if service.params.allow_subservices %}
                    <li {% if tab == 'subservices' %}class="active"{% endif %}>
                        <a href="{% url 'service' service.pk %}?tab=subservices">Подуслуги <span class="badge">{{ service.subservices.count|default:0 }}</span></a>
                    </li>
                    {% endif %}

                    <li {% if tab == 'settings' %}class="active"{% endif %}>
                        <a href="{% url 'service' service.pk %}?tab=settings">Настройки</a>
                    </li>
                    <li {% if tab == 'leases' %}class="active"{% endif %}>
                        <a href="{% url 'service' service.pk %}?tab=leases">
                            <div class="color-marker color-lease"></div>
                            Лизы <span class="badge">{{ service.lease.count|default:0 }}</span>
                        </a>
                    </li>
                    <li {% if tab == 'bundles' %}class="active"{% endif %}>
                        <a href="{% url 'service' service.pk %}?tab=bundles">
                            <div class="color-marker color-bundle"></div>
                            Бандлы <span class="badge">{{ service.bundle_vlans.count|default:0 }}</span>
                        </a>
                    </li>
                    <li {% if tab == 'ins' %}class="active"{% endif %}>
                        <a href="{% url 'service' service.pk %}?tab=ins">
                            <div class="color-marker color-ins"></div>
                            INS <span class="badge">{{ service.incident_set.count|default:0 }}</span>
                        </a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">

                    <br>

                    {% if service.warnings %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for warning in service.warnings %}
                                    <li>{{ warning }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}


                    {% if tab == 'params' %}
                        <div class="tab-pane active" id="params">
                            {% if service.params.require_net %}{% include 'bs3/services/nets_panel.html' %}{% endif %}
                            {% if service.params.require_vlan %}
                                {% with service.vlan.all as vlans %}

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Вланы [{{ vlans.count }}]
                                                <span id="vlans_table_trigger" class="pull-right">
                                                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                                                </span>
                                            </h3>
                                        </div>

                                        {% include 'bs3/services/vlans_table_inpanel.html' %}

                                        {% if perms.common.change_service %}
                                            <div class="panel-footer text-right">
                                                <a class="btn btn-sm btn-default"
                                                   href="{% url 'vlans' %}create-for-service/?service={{ service.pk }}&ticket={{ service.ticket }}&description={{ service.description }}">
                                                    Создать
                                                </a>
                                                <a class="btn btn-sm btn-default"
                                                   href="{% url 'vlans' %}assign-to-service/?&service={{ service.pk }}">Выбрать</a>
                                            </div>
                                        {% endif %}

                                    </div>

                                    <script>
                                        $('#vlans_table_trigger').click(function () {
                                            $('#vlan_table').fadeToggle();
                                        })
                                    </script>

                                {% endwith %}
                            {% endif %}

                        </div>
                    {% endif %}

                    {% if tab == 'subservices' %}
                        <div class="tab-pane active" id="subservices">
                            {% include 'bs3/services/subservices_panel.html' %}
                        </div>
                    {% endif %}

                    {% if tab == 'settings' %}
                        <div class="tab-pane active" id="settings">
                            {% if settings %}{% include 'bs3/services/settings_panel.html' %}{% endif %}
                        </div>
                    {% endif %}

                    {% if tab == 'leases' %}
                        <div class="tab-pane active">
                            {% include 'bs3/services/leases_panel.html' %}
                        </div>
                    {% endif %}

                    {% if tab == 'bundles' %}

                        <div class="tab-pane active" id="bundles">
                            {% if service.params.require_port %}
                                {% include 'bs3/services/bundles_panel.html' %}
                                {% include 'bs3/clients/graphs_panel.html' %}
                            {% endif %}

                        </div>
                    {% endif %}

                    {% if tab == 'ins' %}
                        <div class="tab-pane active" id="ins">
                            {% include 'bs3/common/panel_tables/ins_panel.html' %}
                        </div>
                    {% endif %}

                </div>

            </div>
        </div>
        <div class="well text-right">
            {% if service.ticket and not service.status == 'on' %}
                {% if service.name == 'inet2' or service.name == 'wix' %}
                    {% if service.client.enabled %}
                        {% include 'bs3/services/extend_test_period_button.html' %}
                    {% endif %}
                {% endif %}
            {% endif %}

            {% if perms.common.add_service %}
                {% include 'bs3/services/copy_service_button.html' %}
            {% endif %}

            {% if perms.common.delete_service %}
                {% include 'bs3/services/delete_service_button.html' %}
            {% endif %}
        </div>
    </div>


    {% include 'bs3/spy/object_log.html' %}

{% endblock %}
