{% load hostel_filters %}

<table class="table">
    <tr>
        <td><label>Суффикс</label></td>
        <td><b>{{ subservice.sub_id }}</b></td>
    </tr>

    <tr>
        <td><label>RT#</label></td>
        <td><b>{{ subservice.rt|ticket }}</b></td>
    </tr>

    <tr>
        <td><label>Статус</label></td>
        <th class="{{ subservice.service|service_field_class }} text-center">
            {{ subservice.service.status|upper }}
            <br><small>{{ subservice.service|commercial_status }}</small></th>
    </tr>

    <tr>
        <td><label>Старт услуги</label></td>
        <td>{{ subservice.service.start_time|date:"Y-m-d H:i" }}</td>
    </tr>

    <tr>
        <td><label>Конец теста</label></td>
        <td>{{ subservice.service.end_time|date:"Y-m-d H:i" }}</td>
    </tr>

    <tr>
        <td><label>Города</label></td>
        <td>
        {% for city in subservice.cities.all %}
        <label class="label label-default">{{ city }}</label>
        {% endfor %}
        </td>
    </tr>

    <tr>
        <td colspan="2" class="text-danger">
            <label>Описание</label>
            <address>{{ subservice.description|default:"—"|linebreaks }}</address>
        </td>
    </tr>

    <tr>
        <td colspan="2">
            <label>Комментарий</label>
            <address>{{ subservice.comment|default:"—"|linebreaks }}</address>
        </td>
    </tr>

</table>
