<div class="panel panel-default">
    <div class="panel-body text-right">
        <a class="btn btn-danger" data-toggle="modal" data-target="#delete_group">Удалить группу</a>
    </div>
</div>

<div class="modal fade" id="delete_group" tabindex="-1" role="dialog">
    <form method="POST">
        {% csrf_token %}

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Удалить группу «{{ group.name }}»?</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" placeholder="client id" value="{{ client.pk }}">

                    <h4>Действие необратимо</h4>

                    {% if group.user_set.all.count == 0 %}
                        В группе нет пользователей, действие безопасно.
                    {% else %}
                        В данной группе находятся следующие пользователи:
                        <ul>
                            {% for u in group.user_set.all %}
                                <li>{{ u }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Я еще подумаю...</button>
                    <button class="btn btn-danger" type="submit" name="action" value="delete_group">Удалить</button>
                </div>
            </div>
        </div>
    </form>
</div>