{% extends 'bs3/base.html' %}

{% block content %}


    <div class="container">

        <ol class="breadcrumb">
            <li><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
            <li><a href="{% url 'clients' %}{{ service.client.pk }}">{{ service.client }}</a></li>
            <li><a href="{% url 'services' %}{{ service.pk }}">{{ service }}</a></li>
            <li class="active">Выбор Lease для услуги</li>
        </ol>
    </div>

    <div class="container text-center">
        <form method="GET" class="form-inline">

            <input type="hidden" value="{{ service.pk }}" name="service">

            <div class="form-group">
                <input type="text"
                       name="search"
                       value="{{ search_string|default:'' }}"
                       placeholder="Фильтр по услугам"
                       class="form-control"
                       id="page_search"
                       autocomplete="off">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary form-control">
                    <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                </button>
            </div>
        </form>
        <script>
            $('#page_search').focus();
        </script>
        <br>

    </div>

    <div class="container">
        <table class="table">

            {% for lease in leases %}

                <tr>

                    <td>
                        <div class="color-marker color-lease"></div>
                        <b>{{ lease }}</b>
                    </td>

                    <td>
                        {{ lease.identity|truncatechars:72 }}
                        {% if lease.agrement %}
                            <br>
                            <small class="text-muted">{{ lease.agreement }}</small>
                        {% endif %}
                    </td>

                    <td class="text-muted">
                        {{ lease.cities.all|join:", " }}
                    </td>

                    <td>
                        <form id="leaseData" METHOD="POST">
                            {% csrf_token %}
                            <input type="hidden" name="service_id" placeholder="service_id" value="{{ service.pk }}">
                            <input class="form-control" type="hidden" id="lease_id" name="lease_id" placeholder="lease_id" value="{{ lease.pk }}">
                            <input type="submit" value="Привязать" class="btn btn-default btn-xs">
                        </form>

                    </td>

                </tr>

            {% empty %}
                <tr>
                    <td class="text-center text-muted"><b>Ничего не нашлось!</b>
                        <p>Проверьте, что у вас есть Lease, и там указан город, который есть в списке городов
                            услуги.</p>
                        <br><br>
                        <a href="{% url 'service' service.pk %}">Назад</a>
                    </td>
                </tr>
            {% endfor %}

        </table>

    </div>

    {% if mode == 'view' %}
        {% include 'bs3/lease/delete_lease_button.html' %}
    {% endif %}

{% endblock %}
