{% extends 'bs3/base.html' %}
{% block title %}*Создать lease{% endblock %}
{% block content %}

    {% include 'bs3/lease/leases_tabs.html' %}

    <div class="container">

        <br>

        <!-- Заголовок, кнопка редактирования -->
        <div class="row" style="margin-bottom: 16px;">
            <div class="col-md-8">
                <h4>
                    <div class="color-marker color-leasegroup"></div>
                    Создание группы лиз
                </h4>
            </div>
            <div class="col-md-4 text-right">
                <button type="submit" form="lease_group_data" class="btn btn-primary">Создать</button>
            </div>
        </div>

        <!-- Колонка с общими данными клиента -->
        <div class="row">


            <div class="col-md-2">
            </div>


            <div class="col-md-8">


                <!-- Данные клиента -->
                <form id="lease_group_data" METHOD="POST">
                    {% csrf_token %}
                    {% include 'bs3/lease/lease_group_form.html' %}
                </form>


            </div>

            <div class="col-md-2">
            </div>

        </div>
    </div>

{% endblock %}