        <div class="panel panel-default">
			<div class="panel-body text-right">
                <a class="btn btn-danger" data-toggle="modal" data-target="#delete_vlan">Удалить влан</a>
            </div>
        </div>

        <div class="modal fade" id="delete_vlan" tabindex="-1" role="dialog">
        <form method="POST" action="{% url 'delete_vlan' %}">
            {% csrf_token %}

            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Подтвердите удаление влана</h4>
                    </div>
                    <div class="modal-body">

                        <input type="hidden" name="id" placeholder="vlan id" value="{{ vlan.pk }}">

                        {% if vlan.bundles.all.count > 0 %}

                        <div class="alert alert-warning" role="alert">Данный влан был замечен {{ vlan.updated|date:'Y-m-d H:i' }} на следющих девайсах:
                            <ul>
                                {% for bundle in vlan.bundles.all %}
                                <li>{{ bundle.device }}</li>
                                {% endfor %}
                            </ul>
                            <p>Убетитесь, что влан удален с девайсов,<br>
                                иначе он будет создан коллектором вновь.</p>
                        </div>
                        {% endif %}

                        <b>Удалить влан {{ vlan }}?</b>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Я еще подумаю...</button>
                        <input type="submit" class="btn btn-danger" value="Удалить влан">
                    </div>
                </div>
            </div>
        </form>
    </div>