<a class="btn btn-warning" data-toggle="modal" data-target="#copy_ins">Создать дубликат</a>

<div class="modal fade text-left" id="copy_ins" tabindex="-1" role="dialog">
    <form method="POST">
        {% csrf_token %}
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Создать дубликат {{ incident }}</h4>
                </div>

                <div class="modal-body">

                    <div class="form-group">

                        <div class="checkbox">
                            <label class="control-label">
                                <input type="checkbox" name="copy_clients" id="copy_clients" checked>
                                <b>Скопирвать список клиентов</b>
                            </label>
                        </div>

                        <div class="checkbox">
                            <label class="control-label">
                                <input type="checkbox" name="copy_services" id="copy_services" checked>
                                <b>Скопирвать список услуг</b>
                            </label>
                        </div>

                        <div class="checkbox">
                            <label class="control-label">
                                <input type="checkbox" name="copy_subservices" id="copy_subservices" checked>
                                <b>Скопирвать список подуслуг</b>
                            </label>
                        </div>

                        <div class="checkbox">
                            <label class="control-label">
                                <input type="checkbox" name="copy_leases" id="copy_leases" checked>
                                <b>Скопирвать список лиз</b>
                            </label>
                        </div>


                    </div>

                    История оповещений не будет скопирована.

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Я еще подумаю...</button>
                    <button name="action" value="copy_ins" type="submit" class="btn btn-warning">Создать дубликат</button>
                </div>

            </div>
        </div>
    </form>
</div>
