{% extends 'bs3/base.html' %}
{% block title %}INS{% endblock %}
{% block content %}

    {% include 'bs3/ins/ins_tabs.html' %}

    <br>

    {% include 'bs3/search_and_paginator.html' %}


    <br>
    <table class="table table-hover">

        {% if incident_groups.failure %}

            <tr>
                <td colspan="9"><h3>Аварии</h3></td>
            </tr>

            {% for incident in incident_groups.failure %}
                {% include 'bs3/ins/insTableRow.html' %}
            {% endfor %}

        {% endif %}

        {% if incident_groups.work %}
            <tr>
                <td colspan="9"><h3>Плановые работы</h3></td>
            </tr>

            {% for incident in incident_groups.work %}
                {% include 'bs3/ins/insTableRow.html' %}
            {% endfor %}

        {% endif %}

        {% if incident_groups.other %}
            <tr>
                <td colspan="9"><h3>Прочее</h3></td>
            </tr>

            {% for incident in incident_groups.other %}
                {% include 'bs3/ins/insTableRow.html' %}
            {% endfor %}

        {% endif %}

    </table>


{% endblock %}

