{% extends 'bs3/base.html' %}
{% block title %}*Создаие компании{% endblock %}
{% block content %}

    {% include 'bs3/companies/company_tabs.html' %}

    <div class="container-fluid">
        <br>
        <ol class="breadcrumb">
            <li><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
            <li><a href="{% url 'companies' %}">Компании</a></li>
            <li class="active">Созать новую компанию</li>
        </ol>
        <!-- Заголовок, кнопка редактирования -->
        <div class="row" style="margin-bottom: 16px; margin-top: 20px;">
            <div class="col-md-8">
                <h4>Создание новой компании</h4>
            </div>
            <div class="col-md-4 text-right">
                <button type="submit" form="city_form" class="btn btn-primary">Создать</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <form id="city_form" METHOD="POST">
                    {% csrf_token %}
                    {% include 'bs3/companies/company_form.html' %}
                </form>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>

{% endblock %}