        <thead>
            <tr>
                <th class="hidden-md hidden-sm hidden-xs">#</th>
                <th>Модель</th>
                <th>U</th>
                <th class="hidden-md hidden-sm hidden-xs">Вендор</th>
                <th class="hidden-md hidden-sm hidden-xs">Тип</th>
                <th>Девайс</th>
                <th class="hidden-md hidden-sm hidden-xs">Серийник</th>
                <th class="hidden-md hidden-sm hidden-xs">Комментарий</th>
            </tr>
        </thead>
