<tr>
    <td class="hidden-md hidden-sm hidden-xs text-muted">{{ entry.pk }}</a></b></td>

    <td class="active">
        <div class="color-marker color-entry"></div>
        <b><a href="{% url 'store' %}{{ entry.pk }}">{{ entry.model }}</a></b>
    </td>
    <th>{% if entry.unit_height %}{{ entry.unit_height }}U{% endif %}</th>

    <td class="hidden-md hidden-sm hidden-xs"><b>{{ entry.vendor|default:"" }}</b></td>

    <td class="hidden-md hidden-sm hidden-xs">{{ entry.type|default:"" }}</td>


    <td>
        {% if entry.device %}
        <a href="{% url 'devices' %}{{entry.device.pk}}">{{ entry.device|default:"" }}</a>
        {% endif %}
    </td>

    <td class="hidden-md hidden-sm hidden-xs">
        <small>{{ entry.serial|default:"" }}</small>
    </td>

    <td class="hidden-md hidden-sm hidden-xs text-muted">
        {{ entry.comment|truncatechars:30|default:""|linebreaksbr }}
    </td>

</tr>