{% extends 'bs3/base.html' %}
{% block title %}{{ part }}{% endblock %}
{% block content %}

    {% include 'bs3/store/store_tabs.html' %}

    <div class="container">

        <br>

        <!-- Заголовок, кнопка редактирования -->
        <div class="row" style="margin-bottom: 16px;">
            <div class="col-md-8">
                <h4>
                    <div class="color-marker color-part"></div>
                    {{ part.type|title }} {{ part.vendor|title }} {{ part.model }}
                </h4>
            </div>
            <div class="col-md-4 text-right">
                <a class="btn btn-default" href="{% url 'part' part.pk %}">Отмена</a>
                <button type="submit" form="partData" class="btn btn-danger">Сохранить</button>
            </div>
        </div>


        <div class="row">

            <div class="col-md-4"></div>

            <div class="col-md-4">

                <form id="partData" METHOD="POST">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ part.pk }}">
                    {% include 'bs3/store/part_form.html' %}
                </form>

            </div>

            <div class="col-md-4"></div>

        </div>

    </div>

{% endblock %}
