{% extends 'bs3/base.html' %}
{% block title %}Девайсы{% endblock %}
{% block content %}

    {% include 'bs3/devices/devices_tabs.html' %}

    <div class="container">

        <br>
        <!-- Заголовок, кнопка редактирования -->
        <div class="row" style="margin-bottom: 16px;">
            <div class="col-md-8">

                <h4>
                    Создание нового типа устройств
                </h4>
            </div>
            <div class="col-md-4 text-right">
                <button type="submit" form="form" class="btn btn-primary pull-right">Создать</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form method="POST" id="form">
                    {% csrf_token %}
                    {% include 'bs3/devices/device_type_form.html' %}

                </form>

            </div>
            <div class="col-md-4"></div>
        </div>


    </div>

{% endblock %}

