{% extends 'bs3/base.html' %}
{% block title %}{{ device }}{% endblock %}
{% block content %}

    {% include 'bs3/devices/devices_tabs.html' %}

    <br>
    <div class="container">

    <!-- Заголовок, кнопка редактирования -->
    <div class="row" style="margin-bottom: 16px;">
        <div class="col-md-8">
            <h4>
                <div class="color-marker color-device"></div>
                {{ device_type }}
            </h4>
        </div>

        <div class="col-md-4 text-right">
            {% if mode == 'edit' %}
                <a class="btn btn-default" href="{% url 'device_type' device_type.pk %}">Отмена</a>
                <button type="submit" form="form" class="btn btn-primary">Сохранить</button>

            {% else %}
                {% if perms.devices.change_device %}
                    <a class="btn btn-primary" href="{% url 'device_type_update' device_type.pk %}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Редактировать</a>
                {% endif %}

            {% endif %}
        </div>

    </div>


    <div class="row">

        <div class="col-md-4"></div>

        <div class="col-md-4">
            {% if mode == "edit" %}
                <form id="form" METHOD="POST">
                    {% csrf_token %}
                    <input type="hidden" name="form" id="form" value="{{ device.pk }}">
                    {% include 'bs3/devices/device_type_form.html' %}
                </form>

            {% else %}
                <ul class="list-group">
                    <li class="list-group-item list-group-item-info">
                        <h4 class="list-group-item-heading">Производители</h4>
                    </li>
                    {% for vendor in device_type.vendors.all %}
                        <li class="list-group-item">{{ vendor }}</li>
                    {% endfor %}
                </ul>

            {% endif %}

        </div>

        <div class="col-md-4"></div>

    </div>

    <div class="row">

        {% if perms.devices.delete_device_type %}
            {% if mode == 'view' %}
            {% endif %}
        {% endif %}

    </div>

    {% include 'bs3/spy/object_log.html' %}

{% endblock %}
