<script src="/static/hostel/apps/choose/controller.js"></script>
<link href="/static/css/choose.css" rel="stylesheet">

<div ng-app="Choose">

    <div ng-controller="APIController">

        <div class="form-group">

            <input type="hidden" name="client" id="object_id" value="{% if agreement.client %}{{ agreement.client.pk }}{% endif %}">

            <div class="well well-sm fit" id="selected_object">
                {% if agreement.client %}{{ agreement.client.clientname }}{% endif %}
            </div>

            <input class="form-control filter"
                   ng-change="get('/api/?page=clients&action=search&filter=' + filter)"
                   placeholder="Начните вводить название организации"
                   ng-model-options='{ debounce: 400 }'
                   class="form-control"
                   autocomplete="off"
                   ng-model="filter"
                   id="filter"
                   type='text'>

        </div>

        {% verbatim %}

        <ul class="list-group">

            <li class="list-group-item heighted" ng-repeat="client in objects">

                <div class="netname">{{ client.netname }}</div>

                <a href="#" ng-click="choose_object(client, client.fields.clientname)" title="Прицепить"><b>{{ client.clientname }}</b></a>

                <a target="blank"
                   title="Просмотреть страницу клиента (откроется в новом окне)"
                   href="/clients/{% templatetag openvariable %} client.pk {% templatetag closevariable %}">
                    <span class="glyphicon glyphicon-new-window pull-right" aria-hidden="true"></span>
                </a>

            </li>

        </ul>

        {% endverbatim %}

    </div>
</div>
