<ul class="nav navbar-nav">
    <li class="dropdown">
        <a href="#"
           class="dropdown-toggle"
           data-toggle="dropdown"
           role="button"
           aria-haspopup="true"
           aria-expanded="false">
            <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span></a>

        <ul class="dropdown-menu">

            <li><a href="{% url 'numbers' %}">Номера</a></li>
            <li><a href="{% url 'calls' %}">Звонки</a></li>

            <li role="separator" class="divider"></li>

            <li><a href="{% url 'services' %}">Услуги</a></li>
            <li><a href="{% url 'cities' %}">Города</a></li>
            <li><a href="{% url 'store_entries' %}">Склад</a></li>
            <li><a href="{% url 'spy' %}">Spy</a></li>
        </ul>
    </li>
</ul>
