{% extends 'bs3/base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}

    <div class="container-fluid">

        <div class="row">

            <div class="col-md-4">
                {% include 'bs3/dashboard/panels/birthdays_panel.html' %}
            </div>

            <div class="col-md-4">
                {% include 'bs3/dashboard/panels/calls_panel.html' %}

                {% with my_clients as clients %}
                    {% include 'bs3/dashboard/panels/manager_clients_panel.html' %}
                {% endwith %}
            </div>

            <div class="col-md-4">
                {% include 'bs3/dashboard/panels/testing_services_panel.html' %}
                {% include 'bs3/dashboard/panels/expired_services_panel.html' %}
            </div>

        </div>

    </div>

{% endblock %}